h1{
    color:darkblue;
}
h6{
    color:rgb(3, 75, 77);
}
.bold{
    color: rgb(97, 99, 104);
}
li{
    color: rgb(131, 8, 246);
}
.r1{
    stroke-width: 19px;
    color:midnightblue;

}