body{
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
.new1{
    border-radius:100px;
    background-color: orange;
    color: white;
    font-size: large;
    padding: 20px;
    margin: -50px;
    width: 130px;

}
.new{
    border-radius: 150px;
background-color: black;
color: white;
padding: 20px;
font-size: medium;
width: 250px;
}


.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    
}
.box{
flex: 25%;
padding: 20px;
align-items: center;
box-sizing: content-box;
}
.box-one{
    display: grid;
    grid-template: 2,2;
    grid-column-start: auto;
}
.twt{
    list-style: url(tweet.png);
}
.cont{
    padding: 5px;
    font-size: large;
    font-weight: bold;
   
}

    .im{
       width: 200px; 
       height: 200px;
    }
    .fter{
        padding-right: 15px;

    }
    #col{
        padding-right: 50px;
        float:  right;
    }
    .tw{
        padding: 10px;
    }

    .foot{
        border-top: 0.5px solid gray;
        padding: 80px;
        margin-top: 120px;
        

    }